<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <include file="common:head" />
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        <include file="common:header" />
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            <include file="common:sidebar" />
            <!-- END SIDEBAR -->

            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="/index">首页</a>
                                <i class="fa fa-circle"></i>
                                <a href="#">用户管理</a>
                            </li>
                        </ul>
                        <div class="page-toolbar">
                            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                                <i class="icon-calendar"></i>&nbsp;
                                <span class="thin uppercase hidden-xs"></span>&nbsp;
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- END PAGE HEADER-->
                    <div class="row">
                        <div style="margin: 15px 15px 15px 0;">
                            <a class="btn btn-danger" href="javascript:" onclick="add_user()" >添加用户</a>
                            <div style="margin-left:40px;display: inline-block">
                                <form method="get" action="/member/lists" >
                                    <input style=" width:200px;height:30px;line-height: 30px;" type="text" name="search">
                                    <input type="submit" value="搜索">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <table class="table table-hover">
                                <tr>
                                    <th>编号</th>
                                    <th>用户名</th>
                                    <th>分组</th>
                                    <th>操作</th>
                                </tr>
                                <?php foreach ($list as $row):?>
                                <tr>
                                    <td><?=$row['id']?></td>
                                    <td><?=$row['username']?></td>
                                    <td>
                                        <?php if($row['group_id'] == 1): ?>
                                            超级管理员
                                        <?php elseif ($row['group_id'] == 2): ?>
                                            管理员
                                        <?php elseif ($row['group_id'] == 3): ?>
                                            普通用户
                                        <?php endif;?>
                                    </td>
                                    <td>
                                        <a href="javascript:" onclick="up_pwd(<?=$row['id']?>)" class="btn btn-primary">修改密码</a> |
                                        <a href="javascript:" onclick="update_access(<?=$row['id']?>,this)" data-access='<?=$row["access"]?>' class="btn btn-primary">修改权限</a>
                                        <a href="javascript:" onclick="delete_user(<?=$row['id']?>,this)" data-access='<?=$row["access"]?>' class="btn btn-danger">删除</a>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            </table>
                            <div class="pagination">
                                <?=$page?>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->

        <div class="modal fade up_pwd">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <form id="pwd_form" method="post" onsubmit="return false">
                            <table class="table">
                                <tr>
                                    <th>新密码：</th>
                                    <td><input type="password" name="newpwd" required></td>
                                </tr>
                                <tr>
                                    <th>确认新密码：</th>
                                    <td><input type="password" name="ensurpwd" required></td>
                                </tr>
                            </table>
                            <input type="hidden" name="user_id" id="user_id" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary save_pwd"> 保 存 </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"> 关 闭 </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /修改密码的modal -->

        <div class="modal fade update_access">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">修改权限</h4>
                    </div>
                    <div class="modal-body">
                        <form id="update_access_form" method="post" onsubmit="return false">
                            <div>
                                <label>编制</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="b_access" class="b_access" value="1"> 批量导入 </label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="b_add" class="b_add" value="1"> 添加编制 </label>
                                </div>
                            </div>

                            <div>
                                <label>用户管理</label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="u_add" class="u_add" value="1"> 添加用户 </label>
                                </div>
                            </div>
                            <input type="hidden" name="m_id" id="m_id" value="">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary save_update_access"> 保 存 </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"> 关 闭 </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /修改权限的modal -->

        <div class="modal fade add_user">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
                        <h4 class="modal-title">添加用户</h4>
                    </div>
                    <div class="modal-body">
                        <form id="user_form" method="post" onsubmit="return false">
                            <table class="table">
                                <tr>
                                    <th>用户名：</th>
                                    <td><input type="text" name="user_name" required></td>
                                </tr>
                                <tr>
                                    <th>密码：</th>
                                    <td><input type="password" name="newpwd" required></td>
                                </tr>
                                <tr>
                                    <th>确认密码：</th>
                                    <td><input type="password" name="ensurpwd" required></td>
                                </tr>
                                <tr>
                                    <th>用户分组：</th>
                                    <td>
                                        <select name="group_id" class="form-control input-medium">
                                            <option value="1">超级管理员</option>
                                            <option value="2">管理员</option>
                                            <option value="3" selected >普通用户</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>权限：</th>
                                    <td>
                                        <div>
                                            <label>编制</label>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="b_access" class="b_access" value="1"> 批量导入 </label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="b_add" class="b_add" value="1"> 添加编制 </label>
                                            </div>
                                        </div>

                                        <div>
                                            <label>用户管理</label>
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="u_add" class="u_add" value="1"> 添加用户 </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary save_user"> 保 存 </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"> 关 闭 </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /添加用户的modal -->

        <!-- BEGIN FOOTER -->
        <include file="common:footer" />

        <script type="text/javascript">
        //修改密码
            function up_pwd(id) {
            $("#user_id").val(id);
            $('.up_pwd').modal('show');
        }

            $(".save_pwd").click(function () {
                if(confirm('确定提交吗？')){
                var data = $("#pwd_form").serialize();
                $.post('/member/ajax_save_user_pwd',data,function (res) {
                    if(res.status == 1001){
                        alert(res.message);
                        $('.up_pwd').modal('hide');
                    }else{
                        alert(res.message);
                    }
                },'json');
            }
        });

        //添加用户
        function add_user() {
            clear_checked();
            $('.add_user').modal('show');
        }

        $(".save_user").click(function () {
            if(confirm('确定提交吗？')){
                var data = $("#user_form").serialize();
                $.post('/member/ajax_save_user',data,function (res) {
                    if(res.status == 1001){
                        alert(res.message);
                        $('.up_pwd').modal('hide');
                        window.location.reload();
                    }else{
                        alert(res.message);
                    }
                },'json');
            }
        });

        //删除用户
        function delete_user(id,obj){
            layer.alert('确定删除吗？', {
                icon: 6
                ,time: 0 //不自动关闭
                ,btn: ['确定', '取消']
                ,area: '200px'
                ,yes: function(index){
                    layer.close(index);
                    $.post('{:U("member/delete_user")}',{'id':id},function (res) {
                        if(res.status == 1001){
                            layer.alert(res.message, {
                                icon: 6
                                ,time: 0 //不自动关闭
                                ,btn: ['确定']
                                ,area: '200px'
                                ,yes: function(index){
                                    layer.close(index);
                                    window.location.href="/member/lists";
                                }
                            });
                        }else{
                            layer.alert(res.message, {icon: 0,time:0,closeBtn: 0});
                        }
                    },'json');
                }
                ,no: function(index){
                    layer.close(index);
                }
            });
        }

        //修改权限
        function update_access(id,obj) {
            $("#m_id").val(id);
            clear_checked();

            var access = $(obj).attr('data-access');
            if(access){
                var data = eval("("+access+")");

                if(data){
                    if(data.b_access == 1){
                        $("#update_access_form").find('.b_access').prop('checked',true);
                        $("#update_access_form").find('.b_access').parent().attr('class','checked');
                    }
                    if(data.b_add == 1){
                        $("#update_access_form").find('.b_add').prop('checked',true);
                        $("#update_access_form").find('.b_add').parent().attr('class','checked');
                    }
                    if(data.u_add == 1){
                        $("#update_access_form").find('.u_add').prop('checked',true);
                        $("#update_access_form").find('.u_add').parent().attr('class','checked');
                    }
                }
            }

            $('.update_access').modal('show');
        }

        $(".save_update_access").click(function () {
            if(confirm('确定提交吗？')){
                var data = $("#update_access_form").serialize();
                $.post('/member/ajax_save_access',data,function (res) {
                    if(res.status == 1001){
                        alert(res.message);
                        $('.up_pwd').modal('hide');
                        window.location.reload();
                    }else{
                        alert(res.message);
                    }
                },'json');
            }
        });

        function clear_checked() {
            $('.b_access').attr('checked',false);
            $('.b_access').parent().attr('class','');

            $('.b_add').attr('checked',false);
            $('.b_add').parent().attr('class','');

            $('.u_add').attr('checked',false);
            $('.u_add').parent().attr('class','');
        }


    </script>
    </body>

</html>