<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <include file="common:head" />
    <!-- END HEAD -->
    <style>
        .page-content{width:100%;}
        .page-content-wrapper{width:auto;}
    </style>
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <!-- BEGIN HEADER -->
        <include file="common:header" />
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container" style="width:1748px;">
            <!-- BEGIN SIDEBAR -->
            <include file="common:sidebar" />
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->
                    <!-- BEGIN PAGE BAR -->
                    <div class="page-bar" style="width:1512px;">
                        <ul class="page-breadcrumb">
                            <li>
                                <a href="welcome.html">PFMEA系统管理</a>
                                <i class="fa fa-circle"></i>
                            </li>
                            <li>
                                <span>添加编制信息</span>
                            </li>
                        </ul>
                        <a style="margin:20px;margin-top:5px;" class="btn btn-primary" href="javascript:history.go(-1);">返回</a>
                    </div>
                    <!-- END PAGE BAR -->
                    <!-- END PAGE HEADER-->
                    <div class="row show_print" style="width:1507px;background:#ffffff">
                        <style>
                            .table{text-align: center;font-size:12px;}
                            .table_1{ }
                            .table input{text-align: center}
                            .table_2, .table_2 tr, .table_2 tr td, .table_2 tr th { border: 1px solid #000000;font-size: 12px;}
                            .table_1 .write-textarea{background: #ddd;width:100%;height: 100%;border: none;}
                            .table_2 .write-textarea{background: #ddd;width:105px;max-width: 105px;min-width: 105px;height: 100%;border: none;}
                            .table_2 > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border: 1px solid #000000}

                             input.write-input,.select-input{background: #ddd;height: 100%;width:100%;border: none;padding: 0}
                            .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:1px;vertical-align:middle}
                            .s_t{height: 30px;}
                            .s_t td{height: 30px;}

                            .select_style{width: 14px;overflow: hidden}
                            .select_style .select-input{width: 50px;}

                            select{
                                border: none;
                                outline: none;
                                appearance:none;
                                -moz-appearance:none;
                                -webkit-appearance:none;
                                -ms-appearance:none;
                            }
                            @media print {
                                .manage_btn,.t_btn_add,.t_select_category{
                                    display: none;
                                }
                                .table{border-collapse:separate}
                                .table_1 > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{border: none}
                                .table_1 .s_line{border-bottom: 1px solid #000000}
                                .show_print{ padding: 20px;}
                            }
                        </style>
                        <form class="form-horizontal bianzhi_sub" role="form" onsubmit="return false">
                            <!--头部信息-->
                            <table class="table add_table table_1">
                                <tr>
                                    <td><img src="__PUBLIC__/cevt.png" alt=""></td>
                                    <td colspan="19" scope="col">FMEA - Failure Mode and Effects Analysis</td>
                                </tr>
                                <tr class="s_t">
                                    <td>Issuer (dept, name, phone, sign.)</td>
                                    <td></td>
                                    <td>Date</td>
                                    <td colspan="2"></td>
                                    <td>Function</td>
                                    <td>Process layout-Issue</td>
                                    <td></td>
                                    <td></td>
                                    <td>Reg No</td>
                                    <td colspan="3"></td>
                                    <td>Issue</td>
                                    <td colspan="3"></td>
                                    <td>Page</td>
                                </tr>
                                <tr class="s_t">
                                    <td><input style="text-align: center" type="text" name="issuer" value="<?=$info['issuer']?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="date" value="<?=$info['date']?date('Y.m.d',$info['date']):'';?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="function" value="<?=$info['function']?>" class="write-input"/></td>
                                    <td><input type="text" name="layout" value="<?=$info['layout']?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="reg" value="<?=$info['reg']?>" class="write-input"/></td>
                                    <td colspan="3"></td>
                                    <td><input type="text" name="issue" value="<?=$info['issue']?>" class="write-input"/></td>
                                    <td colspan="3">&nbsp;</td>
                                    <td><input type="text" name="page" value="<?=$info['page']?>" class="write-input"/></td>
                                </tr>

                                <tr class="s_t">
                                    <td>Change Order</td>
                                    <td></td>
                                    <td>Part No</td>
                                    <td colspan="2"></td>
                                    <td>Part Name</td>
                                    <td>Drawing No-Issue</td>
                                    <td></td>
                                    <td></td>
                                    <td>Supplier</td>
                                </tr>
                                <tr class="s_t">
                                    <td><input style="text-align: center" type="text" name="change" value="<?=$info['change']?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="part_no" value="<?=$info['part_no']?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="part_name" value="<?=$info['part_name']?>" class="write-input"/></td>
                                    <td><input type="text" name="drawing" value="<?=$info['drawing']?>" class="write-input"/></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td><input type="text" name="supplier" value="<?=$info['supplier']?>" class="write-input"/></td>
                                </tr>
                            </table>

                            <!--主要信息-->
                            <table class="table add_table table_2" style="background: #FFFFFF">
                            <tr>
                                <td rowspan="2" class="no_detail">No</td>
                                <td rowspan="2" class="type_detail">Type</td>
                                <td rowspan="2" class="variant_detail">Variant</td>
                                <td rowspan="2" class="plant_detail">Plant</td>
                                <td rowspan="2" class="process_detail">Process, part component-number</td>
                                <td rowspan="2" class="failure_detail">Potential Failure Mode</td>
                                <td rowspan="2" class="effect_detail">Potential Effect(s) of Failure</td>
                                <td rowspan="2" class="sev_detail">Sev</td>
                                <td rowspan="2" class="cause_detail">Potential Cause</td>
                                <td rowspan="2" class="occur_detail">Occur</td>
                                <td rowspan="2" class="class_detail">Class</td>
                                <td colspan="2" class="current_detail">Current Process Controls</td>
                                <td rowspan="2" class="detec_detail">Detec</td>
                                <td rowspan="2" class="rpn_detail">RPN</td>
                                <td rowspan="2" class="recommended_detail">Recommended Action(s)</td>
                                <td rowspan="2" class="responsibility_detail">Responsibility & Target Completion Date</td>
                                <td colspan="5" class="result_detail">Action Results</td>
                            </tr>
                            <tr>
                                <td class="prevention_detail">Prevention</td>
                                <td class="detection_detail">Detection</td>
                                <td class="a_actions_detail">ActionsTaken & Completion Date</td>
                                <td>Sev</td>
                                <td>Occur</td>
                                <td>Detec</td>
                                <td class="a_rpn_detail">RPN</td>
                            </tr>
                            <?php if(!empty($lists)): foreach ($lists as $key=>$row) : ?>
                                <tr>
                                    <td><textarea name="no[]" class="write-textarea"><?=$row['no']?></textarea></td>
                                    <?php if($key == 0):?>
                                        <td class="t_project" rowspan="<?=count($lists)?>"><textarea name="type" class="write-textarea"><?=$info['type']?></textarea></td>
                                        <td class="t_project" rowspan="<?=count($lists)?>"><textarea name="variant" class="write-textarea"><?=$info['variant']?></textarea></td>
                                        <td class="t_require" rowspan="<?=count($lists)?>"><textarea name="plant" class="write-textarea"><?=$info['plant']?></textarea></td>
                                    <?php endif;?>

                                    <?php if($key == 0):?>
                                        <td><textarea name="process[]" class="write-textarea"><?=$row['process']?></textarea></td>
                                    <?php elseif($_GET['type'] == 1): ?>
                                        <td class="td_mode">
                                            <input type="button" class="btn btn-danger btn-small delete_row" style="position: absolute;display: none;padding:0;margin:0;font-size: 10px" value="删除">
                                            <textarea name="process[]" class="write-textarea"><?=$row['process']?></textarea>
                                        </td>
                                    <?php else: ?>
                                        <td><textarea name="process[]" class="write-textarea"><?=$row['process']?></textarea></td>
                                    <?php endif; ?>

                                    <td><textarea name="failure[]" class="write-textarea"><?=$row['failure']?></textarea></td>
                                    <td><textarea name="effect[]" class="write-textarea"><?=$row['effect']?></textarea></td>
                                    <td>
                                        <div class="select_style">
                                            <select class="form-control select-input severity" name="sev[]">
                                                <?php if(!$row['sev']):?>
                                                <option value=""></option>
                                                <?php endif;?>
                                                <?php for ($i=1;$i<=10;$i++) : ?>
                                                    <option value="<?=$i?>" <?php if($i == $row['sev']){ echo 'selected';}?> ><?=$i?></option>
                                                <?php endfor; ?>
                                            </select>
                                        </div>
                                    </td>
                                    <td><textarea name="cause[]" class="write-textarea"><?=$row['cause']?></textarea></td>
                                    <td>
                                        <div class="select_style">
                                        <select class="form-control select-input incidence" name="occur[]">
                                            <?php if(!$row['occur']):?>
                                            <option value="<?=$row['occur']?>"></option>
                                            <?php endif;?>
                                            <?php for ($i=1;$i<=10;$i++) : ?>
                                                <option value="<?=$i?>" <?php if($i == $row['occur']){ echo 'selected';}?> ><?=$i?></option>
                                            <?php endfor; ?>
                                        </select>
                                        </div>
                                    </td>
                                    <td><textarea name="class[]" class="write-textarea class" readonly="readonly"><?=$row['class']?></textarea></td>

                                    <td><textarea name="prevention[]" class="write-textarea"><?=$row['prevention']?></textarea></td>

                                    <td><textarea name="detection[]" class="write-textarea"><?=$row['detection']?></textarea></td>
                                    <td>
                                        <div class="select_style">
                                        <select class="form-control select-input detectivity" name="detec[]">
                                            <?php if(!$row['detec']):?>
                                                <option value="<?=$row['detec'];?>"></option>
                                            <?php endif;?>
                                            <?php for ($i=1;$i<=10;$i++) : ?>
                                                <option value="<?=$i?>" <?php if($i == $row['detec']){ echo 'selected';}?> ><?=$i?></option>
                                            <?php endfor; ?>
                                        </select>
                                        </div>
                                    </td>
                                    <td><textarea name="rpn[]" class="write-textarea RPN"><?=$row['rpn']?></textarea></td>
                                    <td><textarea name="recommended[]" class="write-textarea"><?=$row['recommended']?></textarea></td>
                                    <td><textarea name="responsibility[]" class="write-textarea"><?=$row['responsibility']?date('Y.m.d',$row['responsibility']):'';?></textarea></td>
                                    <td><textarea name="a_actions[]" class="write-textarea"><?=$row['a_actions']?date('Y.m.d',$row['a_actions']):'';?></textarea></td>
                                    <td>
                                        <div class="select_style">
                                        <select class="form-control select-input t_severity" name="a_sev[]">
                                            <?php if(!$row['a_sev']):?>
                                            <option value=""></option>
                                            <?php endif;?>
                                            <?php for ($i=1;$i<=10;$i++) : ?>
                                                <option value="<?=$i?>" <?php if($i == $row['a_sev']){ echo 'selected';}?> ><?=$i?></option>
                                            <?php endfor; ?>
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="select_style">
                                        <select class="form-control select-input t_incidence" name="a_occur[]">
                                            <?php if(!$row['a_occur']):?>
                                            <option value=""></option>
                                            <?php endif;?>
                                            <?php for ($i=1;$i<=10;$i++) : ?>
                                                <option value="<?=$i?>" <?php if($i == $row['a_occur']){ echo 'selected';}?> ><?=$i?></option>
                                            <?php endfor; ?>
                                        </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="select_style">
                                        <select class="form-control select-input t_detectivity" name="a_detec[]">
                                            <?php if(!$row['a_detec']):?>
                                            <option value=""></option>
                                            <?php endif;?>
                                            <?php for ($i=1;$i<=10;$i++) : ?>
                                                <option value="<?=$i?>" <?php if($i == $row['a_detec']){ echo 'selected';}?> ><?=$i?></option>
                                            <?php endfor; ?>
                                        </select>
                                        </div>
                                    </td>
                                    <td><textarea name="a_rpn[]" class="write-textarea t_RPN"><?=$row['a_rpn']?></textarea></td>
                                </tr>
                            <?php endforeach;?>
                            <?php endif;?>

                            <?php if($_GET['type'] == 1): ?>
                                <tr class="t_btn_add">
                                    <td colspan="22">
                                        <input type="submit" class="btn btn-small btn-info pull-left add_one" value="添加一行">
                                    </td>
                                </tr>
                            <?php endif;?>
                            <tr class="t_select_category">
                                <td>选择分类:</td>
                                <td colspan="22">
                                    <div class="pull-left">
                                        <select class="form-control input-small inline chejian" name="chejian_id">
                                            <option value="0">==请选择==</option>
                                            <?php foreach ($category as $row):?>
                                                <option value="<?=$row['id']?>"><?=$row['name']?></option>
                                            <?php endforeach; ?>
                                        </select>
                                        <select class="form-control input-small inline jidi" name="jidi_id">
                                            <option value="0">==请选择==</option>
                                        </select>
                                        <select class="form-control input-small inline chexing" name="category_id">
                                            <option value="0">==请选择==</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                                <?php if($_GET['type'] == 1): ?>
                            <tr class="manage_btn">
                                <td colspan="22">

                                    <?php if((($info['is_approved'] == 3 || $info['is_approved'] == 4) && $info['user_id'] == $userId) || empty($info) ):?>
                                    <input type="submit" class="btn btn-lg btn-primary btn-sub" value="提交保存"> |
                                    <?php endif;?>

                                    <input type="submit" class="btn btn-lg btn-primary btn-print" value="打印页面">
                                    <?php if(($info['is_approved'] == 3 || $info['is_approved'] == 4) && $info['user_id'] == $userId ):?>
                                        | <input type="submit" class="btn btn-lg btn-primary btn-approve" value="提交审批">
                                    <?php endif;?>
                                </td>
                            </tr>
                                <?php endif;?>

                                <?php if($_GET['type'] == 3 || $_GET['type'] == 2): ?>
                                <tr class="manage_btn">
                                    <td colspan="22">
                                        <input type="submit" class="btn btn-lg btn-primary btn-print" value="打印页面">
                                    </td>
                                </tr>
                                <?php endif;?>
                        </table>
                            <input type="hidden" name="id" value="<?=$_GET['id']?>">
                        </form>
                    </div>
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <include file="common:footer" />

        <div class="tb_tpl" style="display: none;">
            <table>
                <tr class="t_one">
                    <td class="td_mode">
                        <input type="button" class="btn btn-danger btn-small delete_row" style="position: absolute;display: none;padding:0;margin:0;font-size: 10px" value="删除">
                        <textarea name="process[]" value="<?=$info['process']?>" class="write-textarea" style="height:auto;"></textarea>
                    </td>
                    <td><textarea name="failure[]" value="<?=$info['failure']?>" class="write-textarea"></textarea></td>
                    <td><textarea name="effect[]" value="<?=$info['effect']?>" class="write-textarea"></textarea></td>
                    <td>
                        <div class="select_style">
                        <select class="form-control select-input severity" name="sev[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['sev']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td><textarea name="cause[]" value="<?=$info['cause']?>" class="write-textarea"></textarea></td>
                    <td>
                        <div class="select_style">
                        <select class="form-control select-input incidence" name="occur[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['occur']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td><textarea name="class[]" value="<?=$info['class']?>" class="write-textarea class" readonly="readonly"></textarea></td>

                    <td><textarea name="prevention[]" value="<?=$info['prevention']?>" class="write-textarea"></textarea></td>
                    <td><textarea name="detection[]" value="<?=$info['detection']?>" class="write-textarea"></textarea></td>

                    <td>
                        <div class="select_style">
                        <select class="form-control select-input detectivity" name="detec[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['detec']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td><textarea name="rpn[]" value="<?=$info['rpn']?>" class="write-textarea RPN"></textarea></td>

                    <td><textarea name="recommended[]" value="<?=$info['recommended']?>" class="write-textarea"></textarea></td>
                    <td><textarea name="responsibility[]" value="<?=$info['responsibility']?date('Y.m.d',$info['responsibility']):'';?>" class="write-textarea"></textarea></td>
                    <td><textarea name="a_actions[]" value="<?=$info['a_actions']?date('Y.m.d',$info['a_actions']):'';?>" class="write-textarea"></textarea></td>
                    <td>
                        <div class="select_style">
                        <select class="form-control select-input t_severity" name="a_sev[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['a_sev']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td>
                        <div class="select_style">
                        <select class="form-control select-input t_incidence" name="a_occur[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['a_occur']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td>
                        <div class="select_style">
                        <select class="form-control select-input t_detectivity" name="a_detec[]">
                            <?php for ($i=1;$i<=10;$i++) : ?>
                                <option value="<?=$i?>" <?php if($i == $info['a_detec']){ echo 'selected';}?> ><?=$i?></option>
                            <?php endfor; ?>
                        </select>
                        </div>
                    </td>
                    <td><textarea name="a_rpn[]" value="<?=$info['a_rpn']?>" class="write-textarea t_RPN"></textarea></td>
                </tr>
            </table>
        </div>
        <div id="no_show" style="width:130px;height:150px;font-size:12px;position:absolute;display: none;padding:10px;">
            State your <br/>
            operation number, <br/>
            if any. OP-number <br/>
            shall be <br/>
            connected to <br/>
            the Flow chart and <br/>
            Control plan.
        </div>

        <div id="type_show" style="width:160px;height:60px;font-size:12px;position:absolute;display: none;padding:10px;">
            State which platform (s) <br/>
            the row is valid for
        </div>

        <div id="variant_show" style="width:150px;height:60px;font-size:12px;position:absolute;display: none;padding:10px;">
            State which variant (s) <br/>
            the row is valid for
        </div>

        <div id="process_show" style="width:250px;height:60px;font-size:12px;position:absolute;display: none;padding:10px;">
            Define your process step / requirement that shall be analysed.
        </div>

        <div id="failure_show" style="width:240px;height:60px;font-size:12px;position:absolute;display: none;padding:10px;">
            Potential problems that can occur in the process.
        </div>

        <div id="effect_show" style="width:240px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            Potential Effect of Failure is defined as the effect of the failure mode on the process / function as it appears to the customer.
        </div>

        <div id="sev_show" style="width:300px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            Severity: Assessment of the seriousness of the effect of the potential failure mode in the manufacturing chain or to the customer. For scoring see worksheets below.
        </div>

        <div id="cause_show" style="width:200px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            Potential Cause of Failure is defined as how the failure could occur.
            A failure can have several different causes.
        </div>

        <div id="occur_show" style="width:200px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            Occurrence is a measure of the probability of the specific failure mode  to occur. For scoring see worksheets below.
        </div>

        <div id="class_show" style="width:300px;height:80px;font-size:12px;position:absolute;display: none;padding:10px;">
            This column may be used to classify any special process characteristics (e.g., critical, key, major, significant).        For scoring see worksheets below.
        </div>

        <div id="current_show" style="width:300px;height:110px;font-size:12px;position:absolute;display: none;padding:10px;">
            Current Process Controls and inspections to either prevent the extent possible failure mode from occurring or detect the failure mode if it should occur.
            Comments in this column shall be in the control plan.
        </div>

        <div id="prevention_show" style="width:200px;height:70px;font-size:12px;position:absolute;display: none;padding:10px;">
            Define which actions are taken to prevent the potential causes to occur
        </div>

        <div id="detection_show" style="width:200px;height:60px;font-size:12px;position:absolute;display: none;padding:10px;">
            Define how the failure mode is detected
        </div>

        <div id="detec_show" style="width:200px;height:100px;font-size:12px;position:absolute;display: none;padding:10px;">
            Detection: Assessment of the probability that the proposed process control will detect the failure. For scoring see worksheets below.
        </div>

        <div id="rpn_show" style="width:400px;height:70px;font-size:12px;position:absolute;display: none;padding:10px;">
            Risk Priority Number: The product of severity x occurrence x detection. In general practice, regardless of the resultant RPN, special attention should be given when severity is high.
        </div>

        <div id="recommended_show" style="width:320px;height:100px;font-size:12px;position:absolute;display: none;padding:10px;">
            When the failure modes have been rank ordered by RPN, corrective action should be first directed at critical items and the highest ranked concerns.

            If no actions are recommended for a specific cause, then indicate this by entering a "NONE" in this column.
        </div>

        <div id="responsibility_show" style="width:250px;height:70px;font-size:12px;position:absolute;display: none;padding:10px;">
            Enter the individual responsible for the recommended action, and the target completion date.
        </div>

        <div id="result_show" style="width:200px;height:120px;font-size:12px;position:absolute;display: none;padding:10px;">
            After corrective actions have been identified, estimate and record the resulting , severity, occurrence and detection rankings. Calculate and record the resulting RPN.
        </div>

        <div id="a_actions_show" style="width:190px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            After an action has been implemented, enter a brief description of the action and effective date.
        </div>

        <div id="a_rpn_show" style="width:120px;height:90px;font-size:12px;position:absolute;display: none;padding:10px;">
            Calculate and record the resulting of the new RPN.
        </div>

        <div id="severity_show" style="width:200px;height:400px;font-size:12px;position:absolute;display: none;padding:10px;">
            10：不符合安全和/或法规要求：可能在没有预警下危害操作者（机械或装配）<br/>
            9：不符合安全和/或法规要求：可能在预警下危害操作者（机械或装配）<br/>
            8：大规模中断：100%产品可能报废。流水线停止或停止出货。<br/>
            7：显著中断：生产运行的一部分产品可能报废。背离最初过程设计；流水线速度降低或增加人力。<br/>
            6：离开工位返工：100%产品需要线下返工后才可被接受的。<br/>
            5：离开工位返工：一部分产品需要线下返工后才可被接受的。<br/>
            4：工位内返工：在加工前，100%产品需要在工位内返工。<br/>
            3：工位内返工：在加工前，一部分产品需要在工位内返工。<br/>
            2：微小的中断：过程、操作或操作中的轻微不便利<br/>
            1：没有影响：没有可辨别的影响
        </div>

        <div id="happen_show" style="width:200px;height:200px;font-size:12px;position:absolute;display: none;padding:10px;">
            10：非常高：≥1次每10辆 <br/>
            9：高：1次每20辆 <br/>
            8：高：1次每50辆<br/>
            7：高：1次每100辆<br/>
            6：中等：1次每500辆<br/>
            5：中等：1次每2000辆<br/>
            4：中等：1次每10000辆<br/>
            3：低：1次每100000辆<br/>
            2：低：1次每1000000辆<br/>
            1：非常低：通过预防控制消除了失效
        </div>

        <div id="detect_show" style="width:310px;height:500px;font-size:12px;position:absolute;display: none;padding:10px;">
            10：几乎不可能：没有现有过程控制；无法探测或未能分析。<br/>
            9：难以探测：失效模式和/或错误（要因）不容易探测（如随机检查）<br/>
            8：后处理探测：操作者通过目测/排列/耳听的方式，错误发生后进行失效模式探测。<br/>
            7：问题来源探测：操作者在工位上通过目测/排列/耳听的方式，做失效模式探测或操作者通过特性测量（行/不行、手动转矩检查等）进行事后失效模式探测。<br/>
            6：后处理探测：操作者通过变量测量或在工位上通过特性测量（行/不行、手动转矩检查等）进行事后失效模式探测。<br/>
            5：问题来源探测：操作者在工位上使用变量测量或通过工位上的自动控制探测差异零件并通知操作者（光、杂音等）。在设置上或首件检验时执行测量（仅对于设置要因）。<br/>
            4：后处理探测：由工位的自动控制探测异常件并自动锁住零部件，预防进一步加工的事后失效模式探测。<br/>
            3：问题来源探测：由工位上的自动控制探测异常件并在位置上自动锁住零部件，预防进一步加工的失效模式探测。<br/>
            2：错误探测和/或问题预防：由自动控制在工位上探测错误并预防制造中异常件产出的错误（要因）探测。<br/>
            1：探测不能用；防错：以夹具设计、机械设计或零件设计所做的错误（要因）预防。因为过程/产品设计的防错项目，不会产生异常件。<br/>
        </div>

        <script type="text/javascript">
            var table2 = $(".table_2").css('width');
            $(".page-bar").css('width',table2);
            $(".show_print").css('width',table2);
            $(".page-container").css('width',table2);
        </script>

        <script type="text/javascript">
            $(".no_detail").mousemove(function(){
                $("#no_show").show();
                $("#no_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#no_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#no_show").css("background-color","#EAEAAE ");
            });

            $(".no_detail").mouseleave(function(){
                $("#no_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".type_detail").mousemove(function(){
                $("#type_show").show();
                $("#type_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#type_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#type_show").css("background-color","#EAEAAE ");
            });

            $(".type_detail").mouseleave(function(){
                $("#type_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".variant_detail").mousemove(function(){
                $("#variant_show").show();
                $("#variant_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#variant_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#variant_show").css("background-color","#EAEAAE ");
            });

            $(".variant_detail").mouseleave(function(){
                $("#variant_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".process_detail").mousemove(function(){
                $("#process_show").show();
                $("#process_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#process_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#process_show").css("background-color","#EAEAAE ");
            });

            $(".process_detail").mouseleave(function(){
                $("#process_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".failure_detail").mousemove(function(){
                $("#failure_show").show();
                $("#failure_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#failure_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#failure_show").css("background-color","#EAEAAE ");
            });

            $(".failure_detail").mouseleave(function(){
                $("#failure_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".effect_detail").mousemove(function(){
                $("#effect_show").show();
                $("#effect_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#effect_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#effect_show").css("background-color","#EAEAAE ");
            });

            $(".effect_detail").mouseleave(function(){
                $("#effect_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".sev_detail").mousemove(function(){
                $("#sev_show").show();
                $("#sev_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#sev_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#sev_show").css("background-color","#EAEAAE ");
            });

            $(".sev_detail").mouseleave(function(){
                $("#sev_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".cause_detail").mousemove(function(){
                $("#cause_show").show();
                $("#cause_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#cause_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#cause_show").css("background-color","#EAEAAE ");
            });

            $(".cause_detail").mouseleave(function(){
                $("#cause_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".occur_detail").mousemove(function(){
                $("#occur_show").show();
                $("#occur_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#occur_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#occur_show").css("background-color","#EAEAAE ");
            });

            $(".occur_detail").mouseleave(function(){
                $("#occur_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".class_detail").mousemove(function(){
                $("#class_show").show();
                $("#class_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#class_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#class_show").css("background-color","#EAEAAE ");
            });

            $(".class_detail").mouseleave(function(){
                $("#class_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".current_detail").mousemove(function(){
                $("#current_show").show();
                $("#current_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#current_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#current_show").css("background-color","#EAEAAE ");
            });

            $(".current_detail").mouseleave(function(){
                $("#current_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".prevention_detail").mousemove(function(){
                $("#prevention_show").show();
                $("#prevention_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#prevention_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#prevention_show").css("background-color","#EAEAAE ");
            });

            $(".prevention_detail").mouseleave(function(){
                $("#prevention_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".detection_detail").mousemove(function(){
                $("#detection_show").show();
                $("#detection_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#detection_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#detection_show").css("background-color","#EAEAAE ");
            });

            $(".detection_detail").mouseleave(function(){
                $("#detection_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".detec_detail").mousemove(function(){
                $("#detec_show").show();
                $("#detec_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#detec_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#detec_show").css("background-color","#EAEAAE ");
            });

            $(".detec_detail").mouseleave(function(){
                $("#detec_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".rpn_detail").mousemove(function(){
                $("#rpn_show").show();
                $("#rpn_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#rpn_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#rpn_show").css("background-color","#EAEAAE ");
            });

            $(".rpn_detail").mouseleave(function(){
                $("#rpn_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".recommended_detail").mousemove(function(){
                $("#recommended_show").show();
                $("#recommended_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#recommended_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#recommended_show").css("background-color","#EAEAAE ");
            });

            $(".recommended_detail").mouseleave(function(){
                $("#recommended_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".responsibility_detail").mousemove(function(){
                $("#responsibility_show").show();
                $("#responsibility_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#responsibility_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#responsibility_show").css("background-color","#EAEAAE ");
            });

            $(".responsibility_detail").mouseleave(function(){
                $("#responsibility_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".result_detail").mousemove(function(){
                $("#result_show").show();
                $("#result_show").css("left",$(document).scrollLeft()+event.clientX-200);
                $("#result_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#result_show").css("background-color","#EAEAAE ");
            });

            $(".result_detail").mouseleave(function(){
                $("#result_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".a_actions_detail").mousemove(function(){
                $("#a_actions_show").show();
                $("#a_actions_show").css("left",$(document).scrollLeft()+event.clientX);
                $("#a_actions_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#a_actions_show").css("background-color","#EAEAAE ");
            });

            $(".a_actions_detail").mouseleave(function(){
                $("#a_actions_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".a_rpn_detail").mousemove(function(){
                $("#a_rpn_show").show();
                $("#a_rpn_show").css("left",$(document).scrollLeft()+event.clientX-130);
                $("#a_rpn_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#a_rpn_show").css("background-color","#EAEAAE ");
            });

            $(".a_rpn_detail").mouseleave(function(){
                $("#a_rpn_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".show_detail").mousemove(function(){
                $("#severity_show").show();
                $("#severity_show").css("left",$(document).scrollLeft()+event.clientX-220);
                $("#severity_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#severity_show").css("background-color","#EAEAAE ");
            });

            $(".show_detail").mouseleave(function(){
                $("#severity_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".show_happen").mousemove(function(){
                $("#happen_show").show();
                $("#happen_show").css("left",$(document).scrollLeft()+event.clientX-220);
                $("#happen_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#happen_show").css("background-color","#EAEAAE ");
            });

            $(".show_happen").mouseleave(function(){
                $("#happen_show").hide();
            });
        </script>

        <script type="text/javascript">
            $(".show_detect").mousemove(function(){
                $("#detect_show").show();
                $("#detect_show").css("left",$(document).scrollLeft()+event.clientX-320);
                $("#detect_show").css("top",$(document).scrollTop()+event.clientY+10);
                $("#detect_show").css("background-color","#EAEAAE ");
            });

            $(".show_detect").mouseleave(function(){
                $("#detect_show").hide();
            });
        </script>

        <script src="__PUBLIC__/assets/jquery.jqprint-0.3.js"></script>
        <script>
            jQuery.uaMatch = function( ua ) {
                ua = ua.toLowerCase();

                var match = /(chrome)[ \/]([\w.]+)/.exec( ua ) ||
                    /(webkit)[ \/]([\w.]+)/.exec( ua ) ||
                    /(opera)(?:.*version|)[ \/]([\w.]+)/.exec( ua ) ||
                    /(msie)[\s?]([\w.]+)/.exec( ua ) ||
                    /(trident)(?:.*? rv:([\w.]+)|)/.exec( ua ) ||
                    ua.indexOf("compatible") < 0 && /(mozilla)(?:.*? rv:([\w.]+)|)/.exec( ua ) ||
                    [];

                return {
                    browser: match[ 1 ] || "",
                    version: match[ 2 ] || "0"
                };
            };

            matched = jQuery.uaMatch( navigator.userAgent );
            //IE 11+ fix (Trident)
            matched.browser = matched.browser == 'trident' ? 'msie' : matched.browser;
            browser = {};

            if ( matched.browser ) {
                browser[ matched.browser ] = true;
                browser.version = matched.version;
            }

            // Chrome is Webkit, but Webkit is also Safari.
            if ( browser.chrome ) {
                browser.webkit = true;
            } else if ( browser.webkit ) {
                browser.safari = true;
            }

            jQuery.browser = browser;

            $(".btn-print").click(function () {
                $.each($('textarea'),function () {
                    if($(this).val()){
                        $(this).height(this.scrollHeight);
                    }
                });
                $('.show_print').jqprint();
            });

            //使textarea的高度自适应
            $.each($('textarea'),function () {
                if($(this).val()){
                    $(this).height(this.scrollHeight);
                }
                $(this).keyup(function () {
                    $(this).height(this.scrollHeight);
                });
            });

            <?php
                $num = empty($lists) ? 0 : count($lists);
            ?>

            var num = <?=$num?>;
            $(".add_one").click(function () {
                num ++;
                var html = '<tr>';
                if(num == 1){
                    html += '<td><textarea name="no[]" class="write-textarea"></textarea></td>' +
                        '<td class="t_project" rowspan="1"><textarea name="type" class="write-textarea"></textarea></td>' +
                        '<td class="t_project" rowspan="1"><textarea name="variant" class="write-textarea"></textarea></td>' +
                        '<td class="t_require" rowspan="1"><textarea name="plant" class="write-textarea"></textarea></td>';
                }else{
                    html += '<td><textarea name="no[]" class="write-textarea"></textarea></td>';
                    $(".t_project").attr('rowspan',num);
                    $(".t_require").attr('rowspan',num);
                }

                var new_one = $(".t_one").html();
                html += new_one;
                html += '</tr>';
                $(".t_btn_add").before(html);
                var table2 = $(".table_2").css('width');
                $(".page-bar").css('width',table2);
                $(".show_print").css('width',table2);
            });

            //
            $(".add_table").delegate('.td_mode','mouseover',function () {
                $(this).find('.delete_row').show();
            });
            $(".add_table").delegate('.td_mode','mouseout',function () {
                $(this).find('.delete_row').hide();
            });

            //
            $(".add_table").delegate('.delete_row','click',function () {
                if(num > 0){
                    num-=1;
                    $(".t_project").attr('rowspan',num);
                    $(".t_require").attr('rowspan',num);
                }
                $(this).parent().parent().remove();
            });


            $(".btn-sub").click(function () {
                var data = $(".bianzhi_sub").serialize();
                console.log(data);
                if(confirm("你确定提交保存吗？")){
                    $.post('/index/ajax_save_data_cevt',data,function (res) {
                        alert(res.message);
                        if(res.status == 1001){
                            window.location.href = '/index/info_ku_cevt';
                        }
                    },'json');
                }
            });
    //        提交审批
            $(".btn-approve").click(function () {
                var approve_id = "<?=$info['id']?>";
                if(confirm("你确定提交审批吗？")){
                    $.post('/index/ajax_to_approve_cevt',{id:approve_id},function (res) {
                        alert(res.message);
                        if(res.status == 1001){
                            window.location.href = '/index/info_ku_cevt';
                        }
                    },'json');
                }
            });

            //初始化
            var first = "<?=$ids['first']?>";
            var second = "<?=$ids['second']?>";
            var third = "<?=$ids['third']?>";
            $(".chejian").html('<option value="0">==请选择==</option>');
            $(".jidi").html('<option value="0">==请选择==</option>');
            $(".chexing").html('<option value="0">==请选择==</option>');

            //初始化分类
            set_category_first();
            $(".chejian").change(function () {
                var id = $(this).val();
                $(".jidi").html('<option value="0">==请选择==</option>');
                set_category_second(id);
            });

            $(".jidi").change(function () {
                var id = $(this).val();
                if(id == 0){
                    $(".chexing").html('<option value="0">==请选择==</option>');
                    return;
                }
                set_category_third(id);
            });

            function set_category_first() {
                var html;
                $.getJSON('/api/get_category',{'category_id':1},function (data) {
                    if(data.status == 1001){
                        var lists = data.data;
                        html = '<option value="0">==请选择==</option>';
                        for(var item in lists){
                            html += '<option value="'+lists[item]['id']+'">'+lists[item]['name']+'</option>'
                        }
                        $(".chejian").html(html);

                        if(first){
                            $(".chejian").val(first);
                            set_category_second(first);
                        }
                    }
                });
            }

            function set_category_second(id) {
                var html;
                $.getJSON('/api/get_category',{'category_id':id},function (data) {
                    if(data.status == 1001){
                        var lists = data.data;
                        html = '<option value="0">==请选择==</option>';
                        for(var item in lists){
                            html += '<option value="'+lists[item]['id']+'">'+lists[item]['name']+'</option>'
                        }
                        $(".jidi").html(html);

                        if(second){
                            $(".jidi").val(second);
                            set_category_third(second);
                        }
                    }
                });
            }

            function set_category_third(id) {
                var html;
                $.getJSON('/api/get_category',{'category_id':id},function (data) {
                    if(data.status == 1001){
                        var lists = data.data;
                        html = '<option value="0">==请选择==</option>';
                        for(var item in lists){
                            html += '<option value="'+lists[item]['id']+'">'+lists[item]['name']+'</option>'
                        }
                        $(".chexing").html(html);

                        if(third){
                            $(".chexing").val(third);

                        }
                    }
                });
            }

        //计算RPN  incidence detectivity  RPN
        $(".add_table").delegate('.severity','change',function () {
            jisuan($(this));
        });
        $(".add_table").delegate('.incidence','change',function () {
            jisuan($(this));
        });
        $(".add_table").delegate('.detectivity','change',function () {
            jisuan($(this));
        });

        //计算t_RPN  t_incidence t_detectivity  t_RPN
        $(".add_table").delegate('.t_severity','change',function () {
            jisuan2($(this));
        });
        $(".add_table").delegate('.t_incidence','change',function () {
            jisuan2($(this));
        });
        $(".add_table").delegate('.t_detectivity','change',function () {
            jisuan2($(this));
        });
        $(".add_table").delegate('textarea','keyup',function () {
            $(this).height(this.scrollHeight);
        });

        function jisuan(obj) {
            var parent_obj = obj.parent().parent().parent();

            var severity_val = parent_obj.find('.severity').val();
            var incidence_val = parent_obj.find('.incidence').val();
            var detectivity_val = parent_obj.find('.detectivity').val();

            var result = severity_val*incidence_val*detectivity_val;
            parent_obj.find('.RPN').val(result);
            if(5<=severity_val && severity_val<=8 && 4<=incidence_val && incidence_val<=10){
                parent_obj.find('.class').val('SC');
            }else{
                parent_obj.find('.class').val('');
            }
        }

        function jisuan2(obj) {
            var parent_obj = obj.parent().parent().parent();
            var severity_val = parent_obj.find('.t_severity').val();
            var incidence_val = parent_obj.find('.t_incidence').val();
            var detectivity_val = parent_obj.find('.t_detectivity').val();

            var result = severity_val*incidence_val*detectivity_val;
            parent_obj.find('.t_RPN').val(result);
        }
    </script>
    </body>

</html>